body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #007bff;
    color: #fff;
    padding: 1rem 0.5rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
}

.main-container {
    padding: 2rem;
}

.footer {
    background-color: #1a202c;
    color: #ffffff;
    text-align: center;
    font-family: "Tangerine", serif;
    font-size: 2rem;
  }
